h1 {
    font-size: 5rem;
    color: #DBEDF3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #DA0463;
}
body {
    text-align: center;
    background-color: #283149;
}
.drum{
    display: inline-block;
    font-size: 5rem;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    font-weight: 900;
}
.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}
